.rowBody{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10%;
}

#map {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

label {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.input-group {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-radius: 10px;
    box-shadow: gray 2px 2px 5px;
}

.input-width {
    width: 326px;
    min-width: 326px;
}

p{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 20px;
}

h5{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 20px;
}

.btn-danger{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 4px;
    border-radius: 20px;
    width: 80px;
    height: 45px;
}

.total{
    background-color: rgba(53, 212, 87, 0.8);
    width: 200px;
    border-radius: 20px;
}